/* Reset */
/* Border Box por defecto */
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* Reset body */
.body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#000000, #0069a8, #101828);
    color: white;
}

/* Inicio del Grid Layout */
.layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "header header"
        "main main"
        "Habilidades Habilidades"
        "proyectos proyectos"
        "contacto contacto"
        "footer footer";
}

.header {
    grid-area: header;
}

#main {
    grid-area: main;
}

#Habilidades {
    grid-area: Habilidades;
}

#proyectos {
    grid-area: proyectos;
}

#contacto {
    grid-area: contacto;
}

#footer {
    grid-area: footer;
}
/* Fin del Grid Layout */


/* Menu */
.header {
    background-color: #0f1011;
    padding: 0 5rem;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    list-style: none;
    align-items: center;
}

.nav-link a {
    text-decoration: none;
    color: white;
}

/* Implementamos Focus para accesibilidad con Tab */
.nav-link a:focus {
    outline: 4px solid #003ba8;
    border-radius: 8px;
    outline-offset: 3px;
    transition-delay: 125ms;
}

/* Efecto del Menu Links */
.nav-link:hover::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #003ba8;
    display: block;
    animation-name: ampliar-anchura;
    animation-duration: 0.5s;
}

@keyframes ampliar-anchura {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

/* Main */
#main {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    margin-top: 80px;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    margin: 0 25px;
    text-align: center;
}

.mi-foto {
    width: 350px;
    display: block;
    margin: 0 auto;
    margin: 2rem;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
}

@media (max-width: 480px) {
    #main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .mi-foto {
        display: block;
        margin: 0 auto;
        width: 60%;
    }

    .section {
        text-align: center;
        margin: 0 3rem 0 3rem;
    }

    .section p {
        margin-bottom: 30px;
    }

    .header {
        padding: 0;
    }
}

/* Sección Habilidades */
#Habilidades h2 {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.carousel {
    margin: 100px;
}

.group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 0 10px 0 10px;
}

/* Animación de Imágenes de Habilidades */
.img {
    width: 50px;
    height: 50px;
    transition: 0.3s ease-out;
    border: 2px solid #5c5c5c;
    border-radius: 8px;
    background: linear-gradient(#424242, #0f1011);
    padding: 20px;
    box-sizing: content-box;
    animation: fadeSlide 0.8s both;
    scale: 1;
}

.img:hover {
    scale: 1.15;
    /* Aumentamos el brillo un 50% */
    /* filter: brightness(1.5);  */
    /* Opcional: un poco de contraste para que los colores resalten */
    filter: brightness(1.5) contrast(1.1);
}

@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.img:nth-child(1) {
    animation-delay: 0.2s;
}

.img:nth-child(2) {
    animation-delay: 0.3s;
}

.img:nth-child(3) {
    animation-delay: 0.4s;
}

.img:nth-child(4) {
    animation-delay: 0.5s;
}

.img:nth-child(5) {
    animation-delay: 0.4s;
}

.img:nth-child(6) {
    animation-delay: 0.3s;
}

.img:nth-child(7) {
    animation-delay: 0.2s;
}

@media (max-width: 480px) {
    .img:nth-child(1) {
        animation-delay: 0.2s;
    }

    .img:nth-child(2) {
        animation-delay: 0.3s;
    }

    .img:nth-child(3) {
        animation-delay: 0.4s;
    }

    .img:nth-child(4) {
        animation-delay: 0.5s;
    }

    .img:nth-child(5) {
        animation-delay: 0.6s;
    }

    .img:nth-child(6) {
        animation-delay: 0.7s;
    }

    .img:nth-child(7) {
        animation-delay: 0.8s;
    }
}

/* Sección Proyectos */
#proyectos {}

#proyectos h2 {
    text-align: center;
}

/* Sección Contacto */

#contacto {
    text-align: center;
}

/* Sección Footer */

#footer {
    text-align: center;
}